@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Source+Serif+Pro&display=swap');

@import "./styles/main";
@import "./styles/nav";
@import "./styles/itemImg";
@import "./styles/itemInfo";
@import "./styles/button";
@import "./styles/toggle";

body {
  background-color: #f6f5f3;
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 200ms;
}
